/* @import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap"); */

body {
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.header {
  width: auto;
  background: #f2f2f2;
  margin: 0 auto;
}
.nav-menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 0;
  padding: 0;
}
.nav-menu__item {
  display: flex;
  margin: 0px 15px;
}
.nav-menu__item a {
  text-decoration: none;
  color: #000;
  font-family: "PT sans", sans-serif;
  font-weight: 700;
  margin: 0 0 40px 0;
  text-transform: uppercase;
}
.nav-menu__item a:hover {
  color: #20b2aa;
}
.logo__image {
  display: block;
}
