/* @import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap"); */

body {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.header {
  height: 357px;
  background: url(../img/back-desktop.jpg) no-repeat center -160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 108px;
}

.header__nav {
  width: 100%;
}

.nav-menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  background-color: white;
  height: 56px;
}
.nav-menu__item {
  display: flex;
  height: 100%;
  align-items: center;
}

.nav-menu__item a {
  text-decoration: none;
  color: #000;
  font-family: "PT sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  transition: color 0.2s linear;
}
.nav-menu__item a:hover {
  color: #20b2aa;
}
.logo__image {
  position: relative;
  margin-top: auto;
  margin-left: 30px;
}

.header__sedona {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 115px;
  font-weight: 700;
  margin-top: 30px;
}
.header__triangle {
  width: 100%;
  height: 57px;
}
