/* @import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap"); */

body {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.header {
  height: 301px;
  display: flex;
  flex-direction: column;
  margin-bottom: 164px;
}

.nav-menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.nav-menu__nav {
  display: flex;
}
.nav-menu__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 239px;
  height: 56px;
}

.nav-menu__nav a {
  text-decoration: none;
  color: #000;
  font-family: "PT sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  transition: color 0.2s linear;
}

.nav-menu__nav a:hover {
  color: #20b2aa;
}

.image-back {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 301px;
  background: url(../img/back-desktop.jpg) no-repeat center -216px;
  text-align: center;
}

.logo__image {
  margin: auto;
  padding-bottom: 38px;
}

.header__sedona {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 115px;
  font-weight: 700;
  padding-bottom: 35px;
}
.header__triangle {
}
