/* текст отзыва */
main {
  
}
.align {
  display: flex;
  justify-content: center;
}

.main__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-transform: uppercase;
  text-align: center;
  font-family: "PT sans", sans-serif;
  margin-bottom: 69px;
}

.main__headline {
  margin: 0 0 30px 0;
  font-size: 30px;
  color: #000000;
  font-weight: 700;
}

.main__text {
  font-size: 14px;
  margin: 0;
  color: #333333;
  font-weight: 400;
  line-height: 1.6;
}

/* форма радио и ФИО */
.form {
  display: flex;
  justify-content: space-around;
  margin-bottom: 46px;
}

.form__radiogroup {
  width: 349px;
  height: 292px;
  position: relative;
}

.form__radiogroup:after {
  content: "";
  width: 1px;
  height: 77%;
  background: #c8c8c8;
  position: absolute;
  top: 0;
  left: 140%;
}

.form__headline {
  font-family: "PT sans", sans-serif;
  font-size: 21px;
  text-transform: uppercase;
  margin: 0 0 60px 0;
  font-weight: bold;
  text-align: center;
}

.radiogroup-headline {
  margin: 0 0 67px 26px;
}

.form__radiogroup-item {
  display: block;
  position: relative;
  padding-left: 65px;
  margin-bottom: 32px;
  cursor: pointer;
  font-family: "PT sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  user-select: none;
  height: 46px;
  display: flex;
  align-items: center;
}

.form__radiogroup-item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  height: 46px;
  width: 46px;
  background-color: #eee;
  border-radius: 50%;
  left: 0;
}

.form__radiogroup-item:hover input ~ .checkmark {
  background-color: #ccc;
  transition: 200ms;
}

.form__radiogroup-item input:checked ~ .checkmark {
  background-color: #c8c8c8;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.form__radiogroup-item input:checked ~ .checkmark:after {
  display: block;
}

.form__radiogroup-item .checkmark:after {
  top: 15px;
  left: 15px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: black;
}

/* поля ввода ФИО */
.form__user-info {
  width: 400px;
}

.form__user-info-item {
  display: flex;
  align-items: center;
  margin-top: 23px;
}

.form__user-info-item label {
  margin-right: 15px;
  color: #333333;
  font-family: "PT sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
}

.form__user-info-item input {
  flex: 1;
  border: none;
  height: 58px;
  background-color: #f2f2f2;
  font-family: "PT sans", sans-serif;
  text-transform: uppercase;
  outline: none;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  padding-left: 20px;
}

.form__user-info-item input:hover {
  background-color: #c8c8c8;
  transition: 200ms;
}

.form__user-info-item input:focus {
  background-color: white;
  box-shadow: inset 0px 0px 0px 3px rgba(242, 242, 242, 1);
  transition: 200ms;
}

.contact-align {
  position: relative;
  display: flex;
  justify-content: center;
}

.contact-align::before {
  content: "";
  display: block;
  width: 24%;
  height: 1px;
  background-color: #c8c8c8;
  position: absolute;
  top: 10px;
  right: 117px;
}
.contact-align::after {
  content: "";
  display: block;
  width: 24%;
  height: 1px;
  background-color: #c8c8c8;
  position: absolute;
  top: 10px;
  left: 117px;
}

/*Контактная информация*/

.contact-info {
  margin: 0 128px 58px 69px;
  display: flex;
  justify-content: space-around;
}

.tel-input .mail-input {
  position: relative;
}

.tel-input:after {
  content: "";
  background-image: url(../img/phone.svg.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 58px;
  height: 60px;
  background-color: #e6e6e6;
  text-align: center;
  font-size: 30px;
  line-height: 80px;
  position: absolute;
}

.mail-input:after {
  content: "";
  background-image: url(../img/mail.svg.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 58px;
  height: 60px;
  background-color: #e6e6e6;
  text-align: center;
  font-size: 30px;
  line-height: 80px;
  position: absolute;
}

.contact-info__user-contact label {
  margin-right: 15px;
  color: #333333;
  font-family: "PT sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
}

.contact-info__user-contact input {
  border: none;
  height: 58px;
  width: 258px;
  background-color: #f2f2f2;
  font-family: "PT sans", sans-serif;
  outline: none;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  padding-left: 20px;
}

.contact-info__user-contact input::-webkit-input-placeholder {
  color: #000000;
}

.contact-info__user-contact input:focus::-webkit-input-placeholder {
  color: transparent;
}

.contact-info__user-contact input:hover {
  background-color: #c8c8c8;
  transition: 200ms;
}

.contact-info__user-contact input:focus {
  background-color: white;
  box-shadow: inset 0px 0px 0px 3px rgba(242, 242, 242, 1);
  transition: 200ms;
}

/*Посещенные достопримечательности*/

.seats-align {
  position: relative;
  display: flex;
  justify-content: center;
}

.seats-align:before {
  content: "";
  display: block;
  width: 24%;
  height: 1px;
  background-color: #c8c8c8;
  position: absolute;
  top: 17px;
  right: 117px;
}

.seats-align:after {
  content: "";
  display: block;
  width: 24%;
  height: 1px;
  background-color: #c8c8c8;
  position: absolute;
  top: 17px;
  left: 117px;
}


.checkbox-group {
  display: flex;
  justify-content: space-around;
  margin: 0 82px 87px 82px;
}

.checkbox-group__container {
  display: block;
  position: relative;
  padding-left: 77px;
  line-height: 2.7;
  font-family: "PT sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  user-select: none;
}

.checkbox-group__container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-group__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background-color: #f2f2f2;
  border-radius: 5%;
}

.checkbox-group__container:hover input ~ .checkbox-group__checkmark {
  background-color: #ccc;
  transition: 200ms;
}

.checkbox-group__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-group__container input:checked ~ .checkbox-group__checkmark:after {
  display: block;
}

.checkbox-group__container .checkbox-group__checkmark:after {
  left: 19px;
  top: 9px;
  width: 11px;
  height: 21px;
  border: solid black;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}

/*Опишите свои эмоции*/

.comment-align {
  position: relative;
  display: flex;
  justify-content: center;
}

.comment-align:before {
  content: "";
  display: block;
  width: 24%;
  height: 1px;
  background-color: #c8c8c8;
  position: absolute;
  top: 10px;
  right: 117px;
}

.comment-align:after {
  content: "";
  display: block;
  width: 24%;
  height: 1px;
  background-color: #c8c8c8;
  position: absolute;
  top: 10px;
  left: 117px;
}

.comment {
  display: flex;
  justify-content: center;
  margin-top: 23px;
  margin-bottom: 58px;
}

.comment textarea {
  appearance: none;
  border: none;
  background-color: #f2f2f2;
  font-family: "PT sans", sans-serif;
  outline: none;
  resize: none;
  width: 917px;
  height: 135px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  padding: 25px;
}

.comment textarea:hover {
  background-color: #c8c8c8;
  transition: 200ms;
}

.comment textarea:focus {
  background-color: white;
  box-shadow: inset 0px 0px 0px 3px rgba(242, 242, 242, 1);
  transition: 200ms;
}

.comment textarea::-webkit-input-placeholder {
  color: #000000;
}

.comment textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

button {
  width: 480px;
  height: 58px;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;s
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  background-color: #81b3d2;
  cursor: pointer;
  border: none;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #4198ce;
  transition: 200ms;
}

button:focus {
  background-color: #c8c8c8;
  box-shadow: inset 0px 0px 0px 3px rgba(242, 242, 242, 1);
  transition: 200ms;
  outline: none;
}

.submit-block{
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 117px;
margin-bottom: 87px;
}

.text{
color: #333333;
font-family: "PT sans", sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 26px;
text-transform: uppercase;
}