@media only screen and (max-width: 768px) {
  html {
    overflow-x: hidden;
  }

  body {
    overflow-x: hidden;
  }

  .header {
    margin-bottom: 17%;
  }

  .nav-menu__item {
    width: 146px;
    font-size: 85%;
  }

  .header__triangle {
    width: 156%;
    height: 20%;
    margin: 0px -28%;
  }

  .main__headline {
    font-size: 26px;
  }

  .form__headline {
    font-size: 19px;
  }

  .radiogroup-headline {
    margin: 0 0 19% -17%;
  }

  .form__radiogroup {
    width: 46%;
  }
  .form__radiogroup:after {
    display: none;
  }

  .form__radiogroup-item {
    width: max-content;
  }

  .form__user-info {
    width: 40%;
  }

  .form__user-info-item input {
    font-size: 12px;
    padding-left: 3%;
  }

  .form {
    justify-content: space-evenly;
  }

  .contact-info {
    display: block;
    margin: 0 12% 7% 5%;
  }

  .contact-info__user-contact input {
    width: 95%;
  }

  .contact-align::before {
    right: 5%;
    width: 17%;
  }

  .contact-align::after {
    left: 5%;
    width: 17%;
  }

  .contact-title {
    margin-bottom: 3%;
  }

  .tel-input {
    margin-bottom: 3%;
  }

  .seats-align:after {
    left: 5%;
    width: 17%;
  }

  .seats-align:before {
    right: 5%;
    width: 17%;
  }

  .checkbox-group {
    flex-wrap: wrap;
    margin-bottom: 5%;
  }

  .checkbox-group__container {
    width: 140px;
    height: 73px;
  }

  .comment-align:after {
    left: 5%;
    width: 17%;
  }
  .comment-align:before {
    right: 5%;
    width: 17%;
  }
  .comment textarea {
    width: 84%;
  }
  .comment-title {
    margin: 0 0 45px 0;
  }
  .submit-block {
    padding: 0 5%;
  }
  button {
    width: 50%;
  }
  footer {
    margin: 0 11% 0 5%;
  }
}

@media only screen and (max-device-width: 600px) {
  html {
    overflow-x: hidden;
  }

  body {
    overflow-x: hidden;
  }

  .header {
    margin-bottom: 43%;
  }

  .nav-menu {
    display: block;
    margin-bottom: 57px;
  }
  .nav-menu__nav {
    display: block;
  }
  .nav-menu__item {
    width: 100%;
    color: white;
    background-color: #81b3d2;
    box-shadow: 0 -1px 1px #929292 inset;
  }

  .image-back {
    height: 67%;
    background: url(../img/back-desktop.jpg) no-repeat center -314px;
  }

  .logo__image {
    padding-bottom: 9px;
  }

  .header__sedona {
    font-size: 72px;
    margin-bottom: -4px;
  }

  .main__headline {
    margin-top: 61px;
    font-size: 22px;
  }

  .header__triangle {
    width: 173%;
    height: 20%;
    margin: 0px -37%;
  }

  .main__title {
    margin-bottom: 41px;
  }

  .main__text {
    width: 312px;
    margin: auto;
  }

  .form {
    display: flex;
    flex-direction: column-reverse;
  }

  .form__radiogroup:after {
    display: none;
  }

  .form__headline {
    margin: 0 auto;
    font-size: 100%;
  }

  .form__user-info {
    width: 85%;
    margin: 0 auto;
    position: relative;
  }

  .form__user-info:before {
    content: "";
    position: absolute;
    margin: 0 -9%;
    top: -8%;
    height: 1px;
    width: 118%;
    display: block;
    background: #c8c8c8;
  }

  .form__user-info:after {
    content: "";
    position: absolute;
    margin: 0 -9%;
    top: 110%;
    height: 1px;
    width: 118%;
    display: block;
    background: #c8c8c8;
  }

  .form__user-info-item input {
    font-size: 13px;
    padding-left: 5px;
  }

  .contact-info {
    display: block;
    margin: 18px 81px 50px 31px;
    position: relative;
    bottom: 326px;
  }

  .form__radiogroup {
    width: 100%;
    margin-top: 10%;
  }

  .radiogroup-headline {
    position: relative;
    top: 315px;
  }

  .contact-title {
    position: relative;
    bottom: 323px;
  }

  .contact-info__user-contact label {
    margin-left: 12%;
  }

  .mail-input {
    margin-top: 15%;
  }

  .checkmark {
    height: 55px;
    width: 55px;
  }
  .form__radiogroup-item .checkmark:after {
    top: 17px;
    left: 17px;
    height: 20px;
    width: 20px;
  }
  .form__radiogroup section {
    margin: 8% 0 0 7%;
    top: 325px;
  }
  .form__radiogroup-item {
    padding-left: 21%;
    margin-bottom: 10%;
    font-size: 109%;
  }

  .contact-align::before {
    display: none;
  }
  .contact-align::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #c8c8c8;
    position: absolute;
    top: -296%;
    left: 0%;
  }

  .contact-info__user-contact input {
    width: 93%;
    padding-left: 10px;
    font-size: 13px;
  }

  .tel-input {
    margin-bottom: -3%;
  }

  .checkbox-group {
    display: block;
    display: block;
    margin: 0 0 18% 0;
  }

  .seats-align:after {
    display: none;
  }

  .seats-align:before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #c8c8c8;
    position: absolute;
    top: -64%;
    right: 0;
  }

  .checkbox-group__container {
    margin: 8% 7% 0 8%;
    font-size: 109%;
    height: inherit;
  }

  .comment-align:after {
    display: none;
  }

  .comment-align:before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #c8c8c8;
    position: absolute;
    top: -24px;
    right: 0px;
  }

  .comment textarea {
    width: 76%;
    font-size: 106%;
    padding: 4%;
  }

  .submit-block {
    display: block;
    padding: 0;
    margin: 0 8%;
  }

  .text {
    display: none;
  }

  .comment {
    margin-bottom: 10%;
  }

  button {
    width: 100%;
    height: 50px;
    background-color: #81b3d2;
  }

  footer {
    margin: 17% 0;
    flex-direction: column;
    padding-bottom: 0;
  }

  .links {
    margin: 10% 0;
  }

  .academy-logo {
    margin-right: 12%;
  }
}
