@media screen and (max-width: 600px) {
  .nav-menu {
    display: block;
    margin-bottom: 57px;
  }
  .nav-menu__nav {
    display: block;
  }
  .nav-menu__item {
    width: 100%;
    color: white;
    background-color: #81b3d2;
    box-shadow: 0 -1px 1px #929292 inset;
  }

  .image-back {
    height: 68%;
    background: url(../img/back-desktop.jpg) no-repeat center -314px;
  }

  .logo__image {
    padding-bottom: 12px;
  }

  .header__sedona {
    font-size: 72px;
    margin-bottom: -4px;
  }

  .main__headline {
    margin-top: 61px;
    font-size: 22px;
  }

  .header__triangle {
    width: 173%;
    height: 20%;
    margin: 0px -37%;
  }

  .main__title {
    margin-bottom: 41px;
  }

  .main__text {
    width: 312px;
    margin: auto;
  }

  .form {
    display: flex;
    flex-direction: column-reverse;
  }

  .form__radiogroup:after {
    display: none;
  }

  .form__headline {
    margin: 0 auto;
    font-size: 18px;
  }

  .form__user-info {
    width: 85%;
    margin: 0 auto;
    position: relative;
  }

  .form__user-info:before {
    content: "";
    position: absolute;
    margin: 0 -9%;
    top: -8%;
    height: 1px;
    width: 118%;
    display: block;
    background: #c8c8c8;
  }

  .form__user-info-item input {
    font-size: 13px;
    padding-left: 5px;
  }

  .contact-info {
    display: block;
  }

  .form__radiogroup {
    width: 100%;
    margin-top: 10%;
  }
  .checkmark {
    height: 55px;
    width: 55px;
  }
  .form__radiogroup-item .checkmark:after {
    top: 17px;
    left: 17px;
    height: 20px;
    width: 20px;
  }
  .form__radiogroup section {
    margin: 8% 0 0 7%;
  }
  .form__radiogroup-item {
    padding-left: 27%;
    margin-bottom: 10%;
  }

  .contact-align::before {
    display: none;
  }
  .contact-align::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #c8c8c8;
    position: absolute;
    top: -180%;
    left: 0%;
  }
}
